.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.idea/**
.github/**
buildSrc/**
todo
themes/**
.git/**
masterThemes/**
node_modules/**
screenshots/**
*.vsix
*_album.md
*_themes.md
*.sh